notebook
pytest
flake8
flake8-docstrings
isort
pytest-cov
black
mypy
pandas-stubs
types-PyYAML
types-Pygments
types-colorama
types-decorator
types-jsonschema
types-psutil
types-pycurl
types-setuptools
types-six