setuptools_scm
seaborn
dask
sdv
tensorflow
scikit-learn
networkx
statsmodels
mlforecast
gluonts
torch
lightning
statsforecast
websockets
autogluon.tabular[lightgbm]==1.0.0
autogluon.tabular
autogluon.timeseries
autogluon
ydata-synthetic
pyarrow
pydantic==1.10.13
synthcity